extends layout

block content
  div.list-group
    p#list-header.list-group-item.active= title + " - " + data.type + " - " + data.dimension
    h2 Residentes
    each val in pjs
      a.list-group-item.list-group-item-action(href="/pj/" + val.id)= val.name
