#main-container {
  padding: 30px;
  font: 14px "Verdana";
}

a {
  color: #00b7ff;
}

footer {
  text-align: center;
}

.navbar-dark .navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

#ep-list {
  height: 100%;
  overflow-y: auto;
  max-height: 19em;
}

#list-header {
  font-size: 2rem;
}
